  /* Add custom styles for the header */
  .sticky-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.navbar-brand {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Add custom styles for the collapsible side panel menu */
.side-panel {
    background-color: #011e3c; /* Blue background color */
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    height: 100%;
    padding-top: 60px; /* Same as header height */
    transition: left 0.3s; /* Smooth transition */
}
.side-panel a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}
.side-panel a:hover {
    background-color: #0d76e6; /* Darker blue on hover */
}
.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 24px;
}